

    <!DOCTYPE html>
    <html>
    <head>

        <title>
            Formulario y Lista
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    </head>

    <body style="background:#ddebf0">
        <div class="page-header" style="padding:0px;margin-top:-20px; background:#045ff4;color:white;font-family:Verdana, Geneva, Tahoma, sans-serif">
            <h2><p class="text-center">Formulario y Lista</p></h2>
        </div>

<div class="panel panel-primary" style="margin-right:114px;margin-left:114px">
    <div class="panel-heading" >
    <h3 class="panel-title">Mi Lista</h3>
  </div>
    <div class="row" style="margin-bottom:0px;padding-bottom:2px">
       <div class="col-xs-12" style="margin-bottom:-22px">

       <ul class="list-group active">
          {%block contenido%}
          {%endblock%}
</ul>        
</div>
    </div>
</div>
<!-- formulario-->      
<div class="panel panel-primary" style="margin-right:114px;margin-left:114px">
    <div class="panel-heading" >
    <h3 class="panel-title">Llenar Formulario</h3>
  </div>
  <div class="panel-body" style="padding-left:115px;padding-right:110px">
 <form>
  <div class="form-group" >
    <label for="imputnombre">Nombre</label>
    <input type="nombre" class="form-control" id="imputnombre"placeholder="Nombre y Apellido">
  </div>    
  <div class="form-group">   
    <label for="inputfecha">Fecha</label>
    <input type="date" class="form-control" id="inputfecha" placeholder="Fecha">                
     </div>
 
  <div class="form-group">
    <label for="horaActual">Hora</label>
    <input type="hora" class="form-control" id="horaActual" placeholder="Hora Actual">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
    </html>

